<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="controller">
		<div class="row col-sm-12" th:fragment="shopping_cart">
			<div class="card mt-3 ">
				<div class="card-header">SHOPPING CART</div>
				<div class="card-body">
					<div class="card-subtitle mb-2 text-muted">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Name</th>
									<th scope="col">Price</th>
									<th scope="col">Quantity</th>
									<th scope="col">Amount</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in cart.items">
									<td>{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>${{item.price | number:2}}</td>
									<td><input ng-change="cart.saveToLocalStorage()"
										ng-model="item.qty" type="number" min="1">{{item.q}}</td>
									<td>${{item.qty*item.price | number:2}}</td>
									<td>
										<button ng-click="cart.remove(item.id)" class="btn btn-sm ">
											<svg xmlns="http://www.w3.org/2000/svg" width="16"
												height="16" fill="currentColor" class="bi bi-trash-fill"
												viewBox="0 0 16 16">
  <path
													d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
</svg>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<button ng-click="cart.clear()" class="card-link btn btn-danger">Clear</button>
					<a th:href="@{/order/checkout}" class="card-link btn btn-primary">Checkout</a>
				</div>
			</div>
		</div>
	</main>
</body>

</html>